[Unit]
Description=StartFAIMSConductor
After=default.target
[Service]
ExecStart=/opt/FAIMS-Thesis/StartConductorOnStartup.sh
[Install]
WantedBy=default.target
