[Unit]
Description=StartFAIMSConductor
After=default.target
[Service]
ExecStart=/home/faims/Documents/FAIMS-Thesis/StartConductorOnStartup.sh
[Install]
WantedBy=default.target
